.passtrengthMeter {
	position: relative;
	width: 100%;
}

.passtrengthMeter > input {
	/* width: 100%;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; */
}

.passtrengthMeter > input:focus {
	outline-width: 0;
}

.passtrengthMeter::after {
	content: "";
	height: 3px;
	overflow: hidden;
	width: 0%;
	transition: width 0.5s;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.passtrengthMeter.weak::after {
	background-color: #ec644b;
	width: 25%;
}

.passtrengthMeter.medium::after {
	content: "";
	background-color: #e87e04;
	width: 50%;
}

.passtrengthMeter.strong::after {
	content: "";
	background-color: #efbf17;
	width: 75%;
}

.passtrengthMeter.very-strong::after {
	content: "";
	background-color: #42a72a;
	width: 100%;
}

.passtrengthMeter .showPassword {
	position: absolute;
	width: 20px;
	top: calc(50% - 10px);
	right: 10px;
}

.passtrengthMeter .showPassword.active {
	opacity: 0.5;
}

.passtrengthMeter .showPassword img {
	display: block;
	width: 100%;
	height: auto;
	opacity: 0.4;
}

.passtrengthMeter .showPassword img:hover {
	opacity: 1;
}

.passtrengthMeter .showPassword:hover {
	cursor: pointer;
}

.passtrengthMeter .tooltip {
	background: #000000;
	top: 100%;
	color: #fff;
	font-family: Arial;
	font-size: 11px;
	display: block;
	left: 50%;
	margin-bottom: 15px;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: absolute;
	min-width: 70px;
	box-sizing: border-box;
	text-align: center;
	z-index: 10;
	border-radius: 4px;
	transform: translateY(5px);
	transition: all 0.25s ease-out;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

	left: 0;
	right: 0;
	max-width: 160px;
	margin: auto !important;
}

.passtrengthMeter.weak .tooltip {
	background-color: #ec644b;
}
.passtrengthMeter.weak .tooltip:after {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid #ec644b 7px;
	top: -7px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	width: 0;
}

.passtrengthMeter.medium .tooltip {
	background-color: #e87e04;
}
.passtrengthMeter.medium .tooltip:after {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid #e87e04 7px;
	top: -7px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	width: 0;
}

.passtrengthMeter.strong .tooltip {
	background-color: #efbf17;
}
.passtrengthMeter.strong .tooltip:after {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid #efbf17 7px;
	top: -7px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	width: 0;
}

.passtrengthMeter.very-strong .tooltip {
	background-color: #42a72a;
}
.passtrengthMeter.very-strong .tooltip:after {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid #42a72a 7px;
	top: -7px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	width: 0;
}

.passtrengthMeter.weak .tooltip:before {
	top: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.passtrengthMeter .tooltip:after {
	border-left: solid transparent 7px;
	border-right: solid transparent 7px;
	border-bottom: solid #000000 7px;
	top: -7px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -7px;
	position: absolute;
	width: 0;
	transition: all 0.25s ease-out;
}

.passtrengthMeter:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(10px);
}

.lte8 .passtrengthMeter .tooltip {
	display: none;
}

.lte8 .passtrengthMeter:hover .tooltip {
	display: block;
}
